In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("DataZinto.csv", sep=";")
df

             Chips           Quantity  Selling Price  Stock Price
0            Simba                 10           16.0           14
1             Lays                 10           18.0           16
2          Doritos                 10           17.5           15
3         Pringles                 10           21.0           18
4           Stylos                 10            5.5            3
5              NaN                NaN            NaN          NaN
6        Chocolate           Quantity  Selling Price   Cost Price
7        Lunch Bar                 15           10.0          8.0
8             Aero                 15            9.5          7.0
9          Kit-cat                 15           15.0         13.0
10             Tex                 15            8.5          6.0
11       Milky Bar                 15            9.0          5.5
12             NaN                NaN            NaN          NaN
13     Cold Drinks           Quantity  Selling Price  Stock Price
14       Coca-cola                 12             16         14.0
15          Sprite                 12             16         14.0
16          twizza                 12             12         10.0
17      Fanta Pine                 12             15        113.5
18        Reefresh                 12             12          9.0
19             NaN                NaN            NaN          NaN
20            Pies           Quantity  Selling Price  Stock Price
21  Steak n kidney                 25             18           14
22            Beef                 25             18           14
23    Pepper Steak                 25             18           14
24  Curried Mutton                 25             18           14
25         Chicken                 25             18           14
26             NaN                NaN            NaN          NaN
27           Fruit  Quantity in boxes  Selling Price  Stock Price
28           Apple                  6             60           35
29          Banana                  6            150          120
30            Pair                  6             65           40
31           Grape                  6             80           60
32           Peach                  6             90           65
33             NaN                NaN            NaN          NaN
34        Cupcakes  Quantity in boxes  Selling Price  Stock Price
35         Vanilla                 24              7            5
36       Chocolate                 24              7            5
37       raspberry                 24              7            5
38       Mint Oreo                 24              7            5
39      Blue berry                 24              7            5
40             NaN                NaN            NaN          NaN
41         Veggies  Quantity in boxes  Selling Price  Stock Price
42          potato                 18              8            5
43           onion                 18             10            7
44          carrot                 18             10          7.5
45          tomato                 18              6            4
46         cabbage                 18             12            5